<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Portfolio</title>
</head>
<header>
    <div class="topnav">
    <nav>
    <div class="logo"><a href="#"><img src="static/joel_logo.png" alt="Joel's logo"></a></div>
        <a href="#">Home</a>
        <a href="#palvelut">Palvelut</a>
        <a href="#about">Tietoja</a>
        <a href="#yhteystiedot">Yhteystiedot</a>
        <a href="/portfolio">Portfolio</a>
    </nav>
</div>
</header>

<body>
    <!-- HERO -->
    <div class="hero">
        <div class="hero-text">
        <h1>Suunnitellaan toimivat nettisivut!!</h1>
        <p>Joel Mäkelä <span>Web Designer</span></p>
        <div><a href="#yhteystiedot" id="contact-btn">Ota yhteyttä</a></div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <img src="static/joel_profile.png" alt="Joel's profile picture">
        <div class="socials">
            <a href="https://github.com/jollemak"><img src="static/github.png" alt="GitHub logo"></a>
            <a href="https://www.linkedin.com/in/joel-mäkelä-0301491b7/"><img src="static/linkedin.png" alt="LinkedIn logo"></a>
        </div>
    </div>
</div>
   

<!-- PALVELUT -->
    <div class="palvelut" id="palvelut">
        <h2>Palvelut:</h2>
        <div class="service-card">
            <h3>💻 Verkkosivujen suunnittelu ja toteutus</h3>
            <li>WordPress-sivut alusta loppuun</li>
            <li>Räätälöidyt HTML/CSS -sivut</li>
            <li>Responsiivinen (mobiiliystävällinen) suunnittelu</li>
        </div>
        <div class="service-card">
            <h3>🛠️ Verkkosivujen huolto ja päivitykset</h3>
            <li>Sisällön päivittäminen</li>
            <li>Teemojen ja lisäosien päivitys</li>
            <li>Varmuuskopioinnit ja sivujen nopeuden optimointi</li>
        </div>
        
        </div>

        <a href="#" class="back-to-top">⬆</a>

        <!-- TIETOJA -->
         <div class="about" id="about">
            <h2>Tietoja:</h2>
            <div class="about-card">
                <p>Olen 27-vuotias koodausopiskelija ja opiskelen parhaillani fullstack-kehitystä kood/Sisu Coding Schoolissa Suomessa.
                Opintojen ohella teen verkkosivustoja asiakkaille käyttäen HTML:ää, CSS:ää, JavaScriptiä, Canvaa ja WordPressiä.
                Palveluihini kuuluvat hakukoneoptimointi (SEO), räätälöity verkkokehitys sekä olemassa olevien sivustojen uudistaminen.</p>
                <div class="skills"><img src="static/skills.png" alt="Logos"></div>
            </div>
         </div>

        <!-- OTA YHTEYTTÄ -->
         <div class="yhteystiedot" id="yhteystiedot">
            <h2>Yhteystiedot:</h2>
            <div class="contact-card">
                 <h3>Email:</h3>
            <p>joel.makela@gmail.com</p>
            </div>
           <div class="contact-card">
            <h3>Puhelin:</h3>
            <p>0404157752</p>
           </div>
         </div>
</body>
</html>