<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Portfolio</title>
</head>
<header>
    <div class="topnav">
        <nav>
            <div class="logo"><a href="#"><img src="static/joel_logo.png" alt="Joel's logo"></a></div>
            <a href="/#">Home</a>
            <a href="/#palvelut">Palvelut</a>
            <a href="/#about">Tietoja</a>
            <a href="/#yhteystiedot">Yhteystiedot</a>
            <a href="/portfolio">Portfolio</a>
        </nav>
    </div>
</header>

<body>
    
</body>
</html>